/*------------------------------------*\
   HERO CSS
\*------------------------------------*/



/* HERO 1 HERO */

/* SCREENS */

/* LOCAL FIXES */

.section-hero .button {white-space: nowrap}
@media only screen and (max-width: 734px) {
    .section-hero .button {
        white-space: normal
    }
}


/* END HERO 1 HERO */







/* HERO 2 IPHONE-13-PRO */

/* SCREENS */

/* LOCAL FIXES */

@media only screen and (max-width: 734px) {
    .section-iphone-13-pro .subhead {
        max-width: 300px;
    }
}

/* END HERO 2 IPHONE-13-PRO */








/* HERO 3 IPHONE-13 */

/* SCREENS */

.section-iphone-13 .bg-iphone-13 { background-image:url("/euro/home/t/screens_alt/images/heroes/iphone-13/iphone_13__do56puty4e4i_large.jpg"); }
@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-iphone-13 .bg-iphone-13 { background-image:url("/euro/home/t/screens_alt/images/heroes/iphone-13/iphone_13__do56puty4e4i_large_2x.jpg"); }
}
@media only screen and (max-width:1068px) {
    .section-iphone-13 .bg-iphone-13 { background-image:url("/euro/home/t/screens_alt/images/heroes/iphone-13/iphone_13__do56puty4e4i_medium.jpg"); }
}
@media only screen and (max-width:1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-iphone-13 .bg-iphone-13 { background-image:url("/euro/home/t/screens_alt/images/heroes/iphone-13/iphone_13__do56puty4e4i_medium_2x.jpg"); }
}
@media only screen and (max-width:734px) {
    .section-iphone-13 .bg-iphone-13 { background-image:url("/euro/home/t/screens_alt/images/heroes/iphone-13/iphone_13__do56puty4e4i_small.jpg"); }
}
@media only screen and (max-width:734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-iphone-13 .bg-iphone-13 { background-image:url("/euro/home/t/screens_alt/images/heroes/iphone-13/iphone_13__do56puty4e4i_small_2x.jpg"); }
}

/* LOCAL FIXES */

@media only screen and (max-width: 734px) {
    .section-iphone-13 .subhead {
        max-width: 340px;
    }
}

@media only screen and (max-width: 320px) {
    .section-iphone-13 .subhead {
        max-width: 310px;
    }
}

/* END HERO 3 IPHONE-13 */









/* HERO 4 WATCH-SERIES-7 */

/* SCREENS */

.section-watch-series-7 .headline-logo-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/logos/watch-series-7/non-cellular/logo_watch_series_7__cjyjhfcpj9le_large.png"); }
@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-watch-series-7 .headline-logo-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/logos/watch-series-7/non-cellular/logo_watch_series_7__cjyjhfcpj9le_large_2x.png"); }
}
@media only screen and (max-width:1068px) {
    .section-watch-series-7 .headline-logo-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/logos/watch-series-7/non-cellular/logo_watch_series_7__cjyjhfcpj9le_medium.png"); }
}
@media only screen and (max-width:1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-watch-series-7 .headline-logo-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/logos/watch-series-7/non-cellular/logo_watch_series_7__cjyjhfcpj9le_medium_2x.png"); }
}
@media only screen and (max-width:734px) {
    .section-watch-series-7 .headline-logo-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/logos/watch-series-7/non-cellular/logo_watch_series_7__cjyjhfcpj9le_small.png"); }
}
@media only screen and (max-width:734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-watch-series-7 .headline-logo-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/logos/watch-series-7/non-cellular/logo_watch_series_7__cjyjhfcpj9le_small_2x.png"); }
}
.section-watch-series-7 .bg-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/heroes/watch-series-7/non-cellular/watch_series_7__ga5y6pykkqie_large.jpg"); }
@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-watch-series-7 .bg-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/heroes/watch-series-7/non-cellular/watch_series_7__ga5y6pykkqie_large_2x.jpg"); }
}
@media only screen and (max-width:1068px) {
    .section-watch-series-7 .bg-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/heroes/watch-series-7/non-cellular/watch_series_7__ga5y6pykkqie_medium.jpg"); }
}
@media only screen and (max-width:1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-watch-series-7 .bg-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/heroes/watch-series-7/non-cellular/watch_series_7__ga5y6pykkqie_medium_2x.jpg"); }
}
@media only screen and (max-width:734px) {
    .section-watch-series-7 .bg-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/heroes/watch-series-7/non-cellular/watch_series_7__ga5y6pykkqie_small.jpg"); }
}
@media only screen and (max-width:734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-watch-series-7 .bg-watch-series-7 { background-image:url("/euro/home/t/screens_alt/images/heroes/watch-series-7/non-cellular/watch_series_7__ga5y6pykkqie_small_2x.jpg"); }
}

/* LOCAL FIXES */

@media only screen and (max-width: 734px) {
    .section-watch-series-7 {
        height: 655px;
    }
}

/* END HERO 4 WATCH-SERIES-7 */








/* HERO 5 IPAD-MINI */

/* SCREENS */

/* LOCAL FIXES */

/* END HERO 5 IPAD-MINI */









/* HERO 6 IPAD */

/* SCREENS */

.section-ipad .bg-ipad { background-image:url("/euro/home/t/screens_alt/images/heroes/ipad/ipad__0h4qm01t36qq_large.jpg"); }
@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-ipad .bg-ipad { background-image:url("/euro/home/t/screens_alt/images/heroes/ipad/ipad__0h4qm01t36qq_large_2x.jpg"); }
}
@media only screen and (max-width:1068px) {
    .section-ipad .bg-ipad { background-image:url("/euro/home/t/screens_alt/images/heroes/ipad/ipad__0h4qm01t36qq_medium.jpg"); }
}
@media only screen and (max-width:1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-ipad .bg-ipad { background-image:url("/euro/home/t/screens_alt/images/heroes/ipad/ipad__0h4qm01t36qq_medium_2x.jpg"); }
}
@media only screen and (max-width:734px) {
    .section-ipad .bg-ipad { background-image:url("/euro/home/t/screens_alt/images/heroes/ipad/ipad__0h4qm01t36qq_small.jpg"); }
}
@media only screen and (max-width:734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-ipad .bg-ipad { background-image:url("/euro/home/t/screens_alt/images/heroes/ipad/ipad__0h4qm01t36qq_small_2x.jpg"); }
}

/* LOCAL FIXES */

/* END HERO 6 IPAD */



/*------------------------------------*\
  END HERO CSS
\*------------------------------------*/
